@media screen and (max-width:728px){
  header{height: 350px;}

  .hero-wrap{
    height: 350px;
    position: relative;
    width: 100%;
    border-radius: 0;
  }
  .hero .hero-text{
    width: 100%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,0%);
  }
  .hero .hero-text .Top-icon p{
    font-size: 16px;
    display: flex;
    align-self: center;
    color: var(--color-white);
    margin: 0;
    padding: 0 0 0 20px;
    text-shadow: 0 0 10px black;
  }
  .Top-icon img{
    width: 15px; height: 15px;
  }
  .hero .hero-text .log-in p{
    font-size: 30px !important;
  }

  .knowledge{
    display: none;
  }
  .Research{
    margin-top: 60px;
  }

/* 하단 박스 영역 */
  .box-wrap{
    position: relative;
    margin-top: 60px;
  }
  .box-wrap::after{
    display: none;
  }
  .box-wrap::before{
    content: '';
    position: absolute;
    left: -30px;
    right: -30px;
    top: 0;
    bottom: 0;
    background: var(--color-bg-light);
    z-index: -1;
  }
  .box-bg{
    background: transparent;
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center; 
  }
  .box-bg ul{
    width: auto;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px; */
  }
  /* .box-bg ul li{
    display: flex;
    align-items: center;
  } */
 /*  .box-wrap .box-bg li img{
    width: 25px; height: 25px;
    margin-right: 8px;
  }
  .box-wrap .box-bg li h4{
    font-size: 16px;
    margin-right: 10px;
  }
  .box-wrap .box-bg li p{
    font-size: 16px;
  } */

/* 성과집 */
  .archive-wrap{
    margin-top: 0px;
  }
  .archive-search{
    width: 100%;
  }
  .search-content button{
    display: none;
  }
  .search-mobile{
    width: 100%;
  }
  .search-mobile button{
    margin-top: 10px;
    display: block;
    width: 100%;
    /* 자식의 넓이값이 부모를 넘었던 이유: 
    margin은 부모 안으로 포함되지 않음 */
  }
  .search-mobile button:hover{
    background: var(--color-bg-middle-dark);
  }
  .search-content input{
    width: 260px;
  }
  .archive-card{
    margin-top: 20px;
  }
  .archive-card ul{
    grid-template-columns: repeat(2,1fr);
  }
  .archive-img{
    height: 280px;
  }
  .archive-card ul li p{
    margin-top: 8px;
    font-size: 16px;
  }
  .archive-card ul li button{
    width: 100%;
  }
  .archive-card ul li button::after{
    left: 75px;
  }
  .arrow-double-left{
    width: 30px; height: 30px;
    background-size: 13px;
  }
  .arrow-left{
    width: 30px; height: 30px;
    background-size: 7.5px;
  }
  #numbers li{
    width: 30px; height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
  .arrow-double-right{
    width: 30px; height: 30px;
    background-size: 13px;
  }
  .arrow-right{
    width: 30px; height: 30px;
    background-size: 7.5px;
  }
  .pagination{
    margin-top: 45px;
  }
}