@media screen and (max-width:728px){
  /* 공통영역 */
  .section-title{
    font-size: 25px;
  }
  .inner{
    width: 90%;
  }
  /* 팝업 */
  .pop-up-wrapper{
    display: none !important; 
    padding: 60px 0 120px;
  }
  .pop-up-deco02{
    display: none;
  }
  .pop-up-deco01::after{
  position: absolute;
  content: '';
  width: 100px; height: 150px;
  background-size: cover;
  background: url(../icon/popup01_mobile.svg) no-repeat;
  top:30px; left: 0px;
  z-index: 999;
}
  .pop-up-wrap{
    width: 90%;
    top: 99%;
  }
  .pop-up-title img{
  cursor: pointer;
}
  .pop-up-title{
    padding: 12px 15px 12px 80px;
  }
  .pop-up-title h2{
    font-size: 26px;
  }
  .pop-up-title img{
    width: 30px;
  }
  .pop-up-content{
  padding: 50px 0px 30px 30px;
}
.pop-up-text h4{
  margin-right: 10px;
  width: 100px;
  font-size: 16px;
}
.pop-up-text p{
  font-size: 13px;
}
.br-mobile-none{
  display: none;
}
.popbr-mobile{
  display: block;
}
.pop-up-content .pop-up-text:nth-child(4) p{
  width: 60px; height: 60px;
  font-size: 13px;
}
.pop-up-text span{
  width: 30px; height: 30px;
}
.pop-up-content .pop-up-text:nth-child(5){
  margin-top: 40px;
}
.pop-up-content .pop-up-text:nth-child(5) p{
  line-height: 18px;
}
.pop-up-text span::after{
  width: 37px; height: 37px;
  position: absolute;
  top: -23px; left: 20px;
  transform: rotate(-10deg);
  content: '';
  background: url(../icon/popup03.svg) no-repeat;
  background-size: contain;
}
.pop-up-imgwrap{
  display: block;
}
.pop-up-imgwrap img{
  width: 100%;
}
.pop-up-img p{
  font-size: 16px;
}
.pop-up-img{
  padding: 0;
}
.pop-up-img::after{
  content: '';
}
.pop-up-before{
  padding: 25px 50px 35px 50px;
}
.pop-up-after{
  padding: 25px 50px 35px 50px;
  background: var(--color-white);
}
  /* 헤더 */
  .main-nav-menu{
    display: none;
  }
  .main-nav .logo{
    margin-top: 10px;
  }
  .main-nav .logo img{
    height: 40px;
  }
  .sub-nav{
    display: none;
  }
  .mobile-tab{
    display: flex;
    align-items: center;
  }
  .video-wrap{
    width: 100%;
    border-radius: 0;
  }
  .video-wrap .video{
    width: 100%;
    height: 100%;
  }
  .video-wrap .video video{
    height: 100%; width: 100%;
    object-fit: cover;
    object-position: top;
  }
  /* 시간 남았을 때 mobile-search클릭이벤트 추가*/
  .mobile-search img{
    width: 35px;
    display: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(774%) hue-rotate(259deg) brightness(119%) contrast(100%);
  }
  .trigger{
    width: 35px; height: 30px;
    margin-left: 25px;
  }
  .trigger span{
    background: var(--color-white);
    position: absolute;
    width: 100%; height: 4px;
   }
   .trigger span:nth-child(2){
    top: 50%; transform: translateY(-50%);
  }
  .trigger span:nth-child(3){
    bottom: 0;
  }
  .hero .hero-text{
    text-align: center;
    position: absolute;
    z-index: 10;
    
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 2px 4px 4px var(--color-black);
   }
   .hero-text h2{
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
   }
   .hero-text p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
   }
   header{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to right, #FFF2C0 20%, #00CAC0);
  }
  /* 햄버거 */
  .trigger{
    display: block;
  }
  .mobile-search{
    display: block;
  }
  .trigger span{
    transition: .3s;
  }
  .trigger.active span:nth-child(1){
    width: 45px;
    top: 50%;
    transform:translateY(-50%) rotate(45deg) ;
  }
  .trigger.active span:nth-child(2){
    opacity: 0;
  }
  .trigger.active span:nth-child(3){
    width: 45px;
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  /* 모바일 아코디언 */
  .mobile-menu{
    width: 100%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transition-delay: .1s;
    z-index: 888;
  }
  .mobile-menu.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .nav-wrap{
    z-index: 999;
    height: 105px;
  }
  /* 섹션1 - 서비스 */
  .service-icon{
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .service-icon li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 8px);}

  .service-icon li a{
    width: 80px; height: 80px;
  }
  .service-icon p{
    width: 110%;
    font-size: 14px;
  }
  .service-icon li:nth-child(1) .icon{
    width: 45px; height: 45px;
  }
  .service-icon li:nth-child(2) .icon{
    width: 45px; height: 45px;
  }
  .service-icon li:nth-child(3) .icon{
    width: 45px; height: 45px;
  }
  .service-icon li:nth-child(4) .icon{
    width: 45px; height: 45px;
  }
  .service-icon li:nth-child(5) .icon{
    width: 45px; height: 45px;
  }
  .service-icon li:nth-child(6) .icon{
    width: 45px; height: 45px;
  }
  .service-icon li:nth-child(7) .icon{
    width: 45px; height: 45px;
  }
  /* 섹션1 - 정보 */
  .info-section{
    margin-top: 50px;
    padding: 65px 0;
  }
  .info-section::after{
    border-radius: 40px 40px 0 0;
    height: 900px;
  }
  .info-boxes{
    flex-direction: column;
    gap: 25px;
  }
  .info-box{
    width: 100%;
    padding: 25px 35px;
    border-radius: 20px;
  }
  .info-box h3{
    font-size: 18px;
  }
  .info-list li span{
    font-size: 14px;
  }
  .info-list li a{
    padding: 10px 0;
  }
  .info-list-flex{
    width: 100%;
    gap: 0px;
  }
  .info-list-flex li span{
    font-size: 14px;
    line-height: 1;
  }
  .info-list-flex li a{
    padding: 11px 0;
  }
  .info-left-list{
    width: 145%;
  }
  .info-left-list li span{
    margin-right: 5px;
  }
  .info-right-list{
    margin-left: 10px;
    width: 85%;
  }
  .info-right-list li a{
    line-height: 1;
    width: 100%;
  }
  .info-left-list li a::after{
    width: 165%;
  }
  .info-box ul li::after{
    width: 20px; height: 20px;
    background: url(../icon/Arrow_mobile_hover.svg) no-repeat center/ contain;
  }
  .info-list img{
    width: 20px;
  }
  .info-list-flex img{
    width: 20px;
  }
  /* 센션1 - 카드 */
  .card-section{
    margin-top: 50px;
  }
  .card-img{
    flex-direction: column;
    width: 80%; 
    margin: 0 auto;
  }
  .card-img li{
    flex: 0;
    transition: .2s;
    margin: 20px 0;
  }
  .card-img li::after{
    content: '';
    position: absolute;
    width: 100%; height: 28%;
    left: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    transition: .2s;
  }
  .card-img li a img{
    height: 450px;
    scale: 1.1;
  }
  .card-img li .text{
    transform: translateY(-50%);
  }
  .card-img li:hover .text{
    transform: translateY(-300px);
    font-size: 32px;
    line-height: 45px;
  }
  .card-img li:hover{
    transform: scale(1.1);
  }
   /* 스크롤 시 자동 호버 효과 */
   .card-img li.active{
    transform: scale(1.1);
    margin: 50px 0;
   }
   .card-img li.active::after{
    height: 100%;
    background: #0e798166;
  }
  .card-img li .text{
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
  .card-img li.active .text{
    transform: translateY(-340px);
    font-size: 26px;
    line-height: 38px;
  }

  /* 섹션2 - 주요연구성과 */
  .br-mobile{display: block;}
  .mySwiper{
    height: 700px;
  }
  .mySwiper .swiper-button-next, .swiper-button-prev{
    display: block !important;
    color: var(--color-white);
    height: 70px;
  }
  .mySwiper .swiper-slide p{
    display: none;
  }
  .mySwiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    display: none;
  }
  .swiper-text{
    width: 66%;
  }
  .swiper-text h2{
    font-size: 36px;
  }
  .swiper-text p{
    margin-top: 10px;
    font-size: 20px;
  }
  .swiper-text button{
    font-family: 'Paperozi';
    font-size: 20px;
    margin-top: 20px;
    padding: 13px 20px;
  }
  .swiper-text button img{
    width: 35px;
    transform: translateY(-40%);
  }
  /* 섹션3 - 홍보 */
  .promotion-section{
    margin-top: 120px;
  }
  .promotion-box{
    width: 100%;
    gap: 30px;
  }
  .pomotion-box-img{
    position: relative;
    width: 100%;
    height: 135px;
    margin-top: 12px;
  }
  .promotion-box-left{
    flex: 1;
  }
  .promotion-box-right{
    flex: 1;
  }
  .promotion-box-left .pomotion-box-img p{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%; top: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .promotion-box-right .pomotion-box-img p{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%; top: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .promotion-box-right .pomotion-box-img img{
    object-position: center;
  }
  /* 섹션4 - 공지 */
  .notice-section{
    margin-top: 120px;
  }
  .notice-wrap{
    margin-top: 12px;
    flex-direction: column;
  }
  /* AI참고 */
  .tabs-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개씩 */
    gap: 12px;
    width: 100%;
  }
  .tab-buttons{
    display: contents; 
  }
  .tab-buttons button,
  .tab-plus{
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: var(--border-radius-tab);
  }
  .tab-plus{
    margin-left: 0;
  }
  .content-box h3{
   width: 70%;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
  }
  .mySwiper2{
    margin-top: 120px;
    width: 100%;
  }
  .mySwiper2 .swiper-slide img{
  height: 450px;
  height: 450px;
  }
  /* 섹션5 - 배너 */
  .banner-section{
    margin-top: 150px;
  }
  .mySwiper3{
    height: 400px;
  }
  .banner-wrap .swiper{
    position: absolute;
    width: 90%;
  }
  .mySwiper3 .section-title{
    left: 5%; top: 15%;
  }
  .mySwiper4{
    top: 50%; height: 50%;
  }
  .mySwiper3 .swiper-pagination-business1{
    margin-bottom: 60px;
    gap: 0;
  }
  .mySwiper3 .swiper-pagination-business1 .swiper-pagination-bullet{
    width: 55px; height: 8px;
  }
  /* 섹션6 - 사업안내 */
  .business-wrap{
    flex-direction: column-reverse;
  }

  /* AI참고 */
  .business-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 가로 4칸 */
    gap: 8px;
    width: 100%;
  }
  
  /* 제목은 한 줄 전체 */
  .business-info .section-title{
    grid-column: 1 / -1;
    margin-bottom: 10px;
  }
  /* 중간 래퍼 무력화 */
  .business-cards{
    width: 100%;
    display: contents;
  }
  .business-card{
    height: 120px;
  }
  .business-wrap{
    padding: 70px 0;
    gap: 30px;
  }
  .business-card a:hover{
    border: none;
    box-shadow: 0 0 0 1px white;
  }
  .business-card img{
    width: 60px;
  }
  .business-card h4{
    margin-top: 5px;
    font-size: 13px;
  }
  .business-card p{
    font-size: 10px;
  }
  .business-content{
    width: 60%;
  }
  .business-content > p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .interview{
    padding: 2px;
    margin: auto;
    width: 70%;
    border: 2px solid var(--color-white);
  }
  .interview p{
    font-size: 16px;
    padding-left: 15px;
  }
  .interview span{
    width: 30px; height: 30px;
  }
  /* 푸터 */
  .footer-bottom-bg{
    height: 430px;
  }
  .footer-bottom-content{
    height: 100%;
    flex-direction: column; 
  }
  .footer-bottom-text{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom-text p{
    margin-top: 20px;
  }
  .footer-bottom-right{
    flex-direction: column-reverse;
  }
  .footer-select{
    display: block;
  }
  .select-wrapper{
    height: 50px;
  }
  .footer-select select{
    font-size: 16px;
    margin-left: 0;
    width: 100%;
    height: 50px;
  }
  .select-wrapper:nth-child(1){
    margin-bottom: 20px;
  }
  .footer-sns{
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .footer-top-bg{
    display: none;
  }
  .footer-accordion{
    display: block;
    background: #648684;
  }
  .footer-accordion-titleBg{
    background: var(--color-text-bg-dark);
  }
  .footer-accordion-title{
    margin-bottom: 2px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .footer-accordion-title::after{
    content: url(../icon/footer_arrow.svg);
    transition: .3s;
  }
  .footer-accordion-item.active 
  .footer-accordion-title::after{
    transform: rotate(180deg);
  }
  .footer-accordion-item.active 
  .footer-accordion-content {
    max-height: 500px; 
  }
  .footer-accordion-content{
    background: var(--color--bg-dark);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .footer-accordion-content li{
    position: relative;
    padding: 18px 38px;
  }
  .footer-accordion-content li::after{
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 1px;
    border-bottom: 1px solid #648684;
  }
  .borderNone ul a:last-child li::after {
    border-bottom: none;
  }
  .footer-accordion-content a{
    color: var(--color-white);
  }
  .swiper-text button::after{
  left: 150px; top: 30px;
}
  .tab-plus::after{
    left: 100px; top: 40px;
    width: 30px; height: 30px;
  }
}
@media screen and (max-width:395px){
  .info-list li span{
    font-size: 12px;
  }
  .info-list-flex li span{
    font-size: 12px;
  }
  .br-mobile{display: none;}
  .service-icon p{
    width: 120%;
    font-size: 13px;
  }
  .service-icon li a{
    width: 75px; height: 75px;
  }
  .service-icon li:nth-child(1) .icon{
    width: 40px; height: 40px;
  }
  .service-icon li:nth-child(2) .icon{
    width: 40px; height: 40px;
  }
  .service-icon li:nth-child(3) .icon{
    width: 40px; height: 40px;
  }
  .service-icon li:nth-child(4) .icon{
    width: 40px; height: 40px;
  }
  .service-icon li:nth-child(5) .icon{
    width: 40px; height: 40px;
  }
  .service-icon li:nth-child(6) .icon{
    width: 40px; height: 40px;
  }
  .service-icon li:nth-child(7) .icon{
    width: 40px; height: 40px;
  }
  .tab-plus::after{
    left: 90px; top: 40px;
    width: 30px; height: 30px;
  }
}